<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>공연예술과</key>
    <string>PERFORMING_ART</string>
    <key>IBE전공</key>
    <string>IBE</string>
    <key>건설환경공학</key>
    <string>CIVIL_AND_ENVIRONMENTAL_ENGINEERING</string>
    <key>건축공학</key>
    <string>ARCHITECTURAL_ENGINEERING</string>
    <key>경영학부</key>
    <string>BUSINESS_ADMINISTRATION</string>
    <key>경제학과</key>
    <string>ECONOMICS</string>
    <key>국어교육과</key>
    <string>KOREAN_LANGUAGE_EDUCATION</string>
    <key>국어국문학과</key>
    <string>KOREAN_LANGUAGE_LITERATURE</string>
    <key>기계공학과</key>
    <string>MECHANICAL_ENGINEERING</string>
    <key>데이터과학과</key>
    <string>BUSINESS_DATA_SCIENCE</string>
    <key>도시건축학</key>
    <string>ARCHITECTURE_AND_URBAN_DESIGN</string>
    <key>도시공학과</key>
    <string>URBAN_ENGINEERING</string>
    <key>도시행정학과</key>
    <string>URBAN_POLICY_AND_ADMINISTRATION</string>
    <key>독어독문학과</key>
    <string>GERMAN_LANGUAGE_LITERATURE</string>
    <key>동북아통상전공</key>
    <string>SCHOOL_OF_NORTHEAST_ASIAN</string>
    <key>디자인학부</key>
    <string>DESIGN</string>
    <key>무역학부</key>
    <string>INTERNATIONAL_TRADE</string>
    <key>문헌정보학과</key>
    <string>LIBRARY_AND_INFORMATION</string>
    <key>물리학과</key>
    <string>PHYSICS</string>
    <key>미디어커뮤니케이션학과</key>
    <string>MASS_COMMUNICATION</string>
    <key>바이오-로봇 시스템 공학과</key>
    <string>MECHANICAL_ENGINEERING_AND_ROBOTICS</string>
    <key>법학부</key>
    <string>LAW</string>
    <key>불어불문학과</key>
    <string>FRENCH_LANGUAGE_LITERATURE</string>
    <key>사회복지학과</key>
    <string>SOCIAL_WELFARE</string>
    <key>산업경영공학과</key>
    <string>INDUSTRIAL_AND_MANAGEMENT_ENGINEERING</string>
    <key>생명공학부(나노바이오공학전공)</key>
    <string>NANO_BIO_ENGINEERING</string>
    <key>생명공학부(생명공학전공)</key>
    <string>BIO_ENGINEERING</string>
    <key>생명과학부(분자의생명전공)</key>
    <string>MOLECULAR_MEDICAL_SCIENCE</string>
    <key>생명과학부(생명과학전공)</key>
    <string>BIOLOGICAL_SCIENCES</string>
    <key>서양화전공(조형예술학부)</key>
    <string>WESTERN_PAINTING</string>
    <key>세무회계학과</key>
    <string>TAX_ACCOUNTING</string>
    <key>소비자학과</key>
    <string>CONSUMER_SCIENCE</string>
    <key>수학과</key>
    <string>MATHEMATICS</string>
    <key>수학교육과</key>
    <string>MATHEMATICS_EDUCATION</string>
    <key>스마트물류공학전공</key>
    <string>SMART_LOGISTICS_ENGINEERING</string>
    <key>스포츠과학부</key>
    <string>SPORT_SCIENCE</string>
    <key>신소재공학과</key>
    <string>MATERIALS_SCIENCE_ENGINEERING</string>
    <key>안전공학과</key>
    <string>SAFETY_ENGINEERING</string>
    <key>에너지화학공학</key>
    <string>ENERGY_CHEMICAL_ENGINEERING</string>
    <key>역사교육과</key>
    <string>HISTORY_EDUCATION</string>
    <key>영어교육과</key>
    <string>ENGLISH_LANGUAGE_EDUCATION</string>
    <key>영어영문학과</key>
    <string>ENGLISH_LANGUAGE_LITERATURE</string>
    <key>운동건강학부</key>
    <string>HEALTH_KINESIOLOGY</string>
    <key>유아교육과</key>
    <string>EARLY_CHILDHOOD_EDUCATION</string>
    <key>윤리교육과</key>
    <string>ETHICS_EDUCATION</string>
    <key>일본지역문화학과</key>
    <string>JAPANESE_LANGUAGE_LITERATURE</string>
    <key>일어교육과</key>
    <string>JAPANESE_LANGUAGE_EDUCATION</string>
    <key>임베디드시스템공과</key>
    <string>EMBEDDED_SYSTEMS_ENGINEERING</string>
    <key>전기공학과</key>
    <string>ELECTRICAL_ENGINEERING</string>
    <key>전자공학과</key>
    <string>ELECTRONICS_ENGINEERING</string>
    <key>정보통신학과</key>
    <string>INFORMATION_TELECOMMUNICATION_ENGINEERING</string>
    <key>정치외교학과</key>
    <string>POLITICAL_INTERNATIONAL</string>
    <key>중어중문학과</key>
    <string>CHINESE_LANGUAGE_LITERATURE</string>
    <key>창의인개발학과</key>
    <string>CREATIVE_HUMAN_RESOURCE_DEVELOPMENT</string>
    <key>체육교육과</key>
    <string>PHYSICAL_EDUCATION</string>
    <key>컴퓨터공학부</key>
    <string>COMPUTER_SCIENCE_ENGINEERING</string>
    <key>테크노경영학과</key>
    <string>TECHNOLOGY_MANAGEMENT</string>
    <key>패션산업학과</key>
    <string>FASHION_INDUSTRY</string>
    <key>한국화전공(조형예술학부)</key>
    <string>KOREAN_PAINTING</string>
    <key>해양학과</key>
    <string>MARINE_SCIENCE</string>
    <key>행정학과</key>
    <string>PUBLIC_ADMINISTRATION</string>
    <key>화학과</key>
    <string>CHEMISTRY</string>
    <key>환경공학</key>
    <string>ENVIRONMENTAL_ENGINEERING</string>
</dict>
</plist>
